@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Sura&display=swap");

* {
  padding: 0;
  text-decoration: none;
}

.background {
  background-color: #f3f0f0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardLogin {
  background-color: white;
  width: 400px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

.logoLogin {
  width: 230px;
  height: 90px;
  margin-top: 30px;
}

.cardLogin h1 {
  font-family: "Sen", sans-serif;
  margin-top: 30px;
  font-size: 27px;
}

.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campoLoginE {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.campoLoginP {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.inputLogin {
  width: 300px;
  border: 0;
  border-bottom: 1px solid #9c9c9c;
  outline: 0;
  font-size: 16px;
  color: #424242;
  font-family: "Sen", sans-serif;
  background: transparent;
  transition: border-color 0.2s;
  margin-left: 15px;
}

.inputLogin ::placeholder {
  color: #9c9c9c;
}



.botao {
  width: 340px;
  background-color: #060657;
  color: white;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 45px;
  border-radius: 3px;
}

.esqueceste {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: right;
}

.esqueceste a {
  font-family: "Sen", sans-serif;
  color: #060657;
  font-size: 13px;
}

#FundoNavbar {
  background-color: white;
  height: 100vh;
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

#logoGeral {
  margin-top: 30px;
  width: 130px;
  height: 50px;
}

.imgPerfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 1;
  margin-top: 3%;

}

.sectionNav {
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardNav{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px ;
  background: linear-gradient(314.93deg, #060657 0%, rgba(6, 6, 87, 0.977774) 40.24%, rgba(6, 6, 87, 0.874491) 66.36%, rgba(6, 6, 87, 0.777824) 90.37%, rgba(6, 6, 87, 0.5) 121.5%);
}


.sectionNav h4{
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.subtitulonav {
  font-family: "Sen", sans-serif;
  font-size: 19px;
  color: #757575;
  margin-bottom: 15px;
}

.navButton {
  width: 90%;
  border-radius: 10px;
  margin-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
}

.navButton span {
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-left: 20px;
}

.navButton img {
  margin-left: 10px;
}

.botoes {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botoes :hover {
  background-color: rgb(226, 226, 226);
}
.botaoSair {
  background-color: red;
  display: flex;
  border: none;
  border-radius: 10px;
  align-items: center;
  width: 40%;
  height: 8%;
  margin-top: 20px;
  justify-content: center;
}
.botaoSair span {
  font-family: "Sen", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 21px;
  margin-right: 5px;
}

.botaoSair img {
  height: 28px;
  cursor: pointer;
}

.backgroundapp {
  background-color: #f3f0f0;
  display: flex;
  height: 100%;
  min-height: 100vh;
}


.mainlista{
  height: 100%;
  justify-content: flex-start;
}

.posMain {
  margin-top: 50px;
  margin-left: 30vw;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
}

.maincomnav{
  margin-left: 20vw;
}

h1 {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 38px;
}

.card{
  width: 750px;
  height: 160px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.imgVeiculo {
  height: 100%;
  width: he;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.infoVeiculo {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.textoVeiculo {
  margin-top: 9px;
  font-size: 18px;
  color: #757575;
}

.nomeVeiculo{
  font-family: 'Sen', sans-serif;
font-weight: bold;
font-size: 24px;
margin-top: 5px;
}
.nomeVeiculo{
  font-family: 'Sen', sans-serif;
font-weight: bold;
font-size: 24px;
margin-top: 5px;
}
.nomePeca{
  font-family: 'Sen', sans-serif;
font-weight: bold;
font-size: 24px;
margin-top: 5px;
}

.infoVeiculo p {
  margin-top: 10px;
  font-size: 18px;
  color: #000000;
  margin-bottom: 0;
}

.estadoVeiculoTrue {
  margin-left: 30px;
  height: 65%;
  width: 17%;
  border-radius: 3px;
  background-color: rgb(54, 180, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.estadoVeiculoFalse {
  margin-left: 30px;
  height: 65%;
  width: 17%;
  border-radius: 3px;
  background-color: rgb(180, 54, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estadoVeiculoFalse span {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

.estadoVeiculoTrue span {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

.estadoVeiculo img {
  margin-top: 10px;
}

.next{
  background-color: #0B0B5A;
  height: 100%;
  width: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
}

.imgMotorista{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 20px;
}

.infoMotorista{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


.posMotorista{
  display: flex;
  width: 65%;
}

.posChecklist{
  display: flex;
  height: 100%;
  margin-top: 50px;
  margin-left: 50px;
}

#emailMotorista{
  font-family: 'Sen', sans-serif;
  color: #8d8d8d;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
} 

.infoRota{
  display: flex;
  height: 100%;
  width: 40%;
}


.infoRota img{
  height: 35%;
  margin-top: 23px;
  margin-right: 10px;
}


.textosRota{
  display: flex;
  flex-direction: column;
}

.rotaDestino{
  font-family: 'Sen', sans-serif;
  width: 110%;
  font-weight: bold;
  font-size: 22px;
  margin-top: 15px;
}

.rotaInfo{
  font-weight: normal;
  font-family: 'Sen', sans-serif;
  margin-top: 5px;
  font-size: 17px;

}

.infoManutencao{
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin-left: 30px;
}

.textoManutencao{
  font-family: 'Sen', sans-serif;
  font-size: 17px;
  margin-top: 10px;
}

.estadoManutencao{
  margin-left: 30px;
  margin-right: 30px;
  height: 65%;
  width: 17%;
  border-radius: 3px;
  background-color: rgb(54, 180, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estadoManutencao span{
  color: white;
  margin-top: 10px;
  font-weight: 400;
}

.estadoManutencao img{
margin-top: 10px;
}

.nomeManutencao{
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-top: 5px;
}

#backgroundStart{
  background: linear-gradient(314.93deg, #060657 0%, rgba(6, 6, 87, 0.977774) 40.24%, rgba(6, 6, 87, 0.874491) 66.36%, rgba(6, 6, 87, 0.777824) 90.37%, rgba(6, 6, 87, 0.5) 121.5%);
  width: 100vw;
  height: 100vh;
}

#blobBackground{
  height:99.5vh;
  position: fixed;
  right: 0;
  z-index: 0;

}

.mainStart{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#logoSemi{
  margin-top: 35px;
  margin-left: 35px;
  width: 30vh;
}

#posicaoTexto{
  display: flex;
  flex-direction: column;
  width: 70%;
}

#tituloStart{
  color:white;
  font-size: 50px;
  width: 55%;
  text-align: center;
  margin-top: 50px;
}

.sloganImg{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#ilusStart{
  height: 350px;
}

#subtituloStart{
  font-size:50px ;
  font-weight:normal;
  width: 70%;
  text-align: center;
  color: #12125F;
}

#zindex{
  z-index: 1;
}

#blobStart{
  position:fixed;
  right: 0;
  width: 33%;
}

#posBlob{
  position: fixed;
  right: 0;
  bottom: 200px;
  z-index: 3;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.botaoLogin{
  background-color: red;
  display: flex;
  border:none;
  border-radius: 10px;
  align-items: center;
  width: 40%;
  height: 5vh;
  margin-top: 20px;
  justify-content: center;
}

.botaoLogin span{
font-family: 'Sen', sans-serif;
color: white;
font-weight: bold;
font-size: 21px;
margin-right: 5px;
text-decoration: none;
}

.loginBtn{
  padding-top: 100px;
}

.red{
  color:  red;
}

.login-eye{
  cursor: pointer;
}

.ALteracaoPeca{
  margin-top: 20px;
  font-size: 18px;
}
.estadoRota{
  margin-left: 30px;
  height: 65%;
  width: 17%;
  border-radius: 3px;
  background-color: rgb(224, 207, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.estadoRota span {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

.goDirect{
  width: 10%;
    height: 50px;
}

.caixaPlus{
  display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: flex-end;
}

login-eye{
  cursor: pointer;
}

.eye{
  size: 20px;
}

@media only screen and (max-width: 426px) /* for mobile L */
{
  .cardLogin{
    width: 100%;
    height: 100%;
  }

  .cardLogin h1{
    font-size: 7vw;

  }

  .logoLogin {
    width: 40vw;
  }

}

@media only screen and (max-width: 376px) /* for mobile M */
{
  .cardLogin{
    width: 100%;
    height: 100%;

  }
  

  .formLogin{
    width: 80%;
  }

  .campoLoginE{
    width: 100%;
  }

  .campoLoginP{
    width: 100%;
  }

  .botao{
    width: 100%;
  }
}
@media only screen and (max-width: 321px) /* for mobile S */
{
  .cardLogin{
    width: 100%;
    height: 100%;

  }

  .formLogin{
    width: 80%;
  }

  .campoLoginE{
    width: 100%;
  }

  .campoLoginP{
    width: 100%;
  }

  .botao{
    width: 100%;
  }

  .campoLoginE img{
    width: 0px;
  }

  .campoLoginP img{
    width: 0px;

  }

  .campoLoginP{
    width: 108%;
  }
  .campoLoginE{
    width: 108%;
  }

  .cardLogin h1{
    font-size: 8vw;

  }
}