.backgroundapp{
    background-color: #F3F0F0;
    display: flex;
  }
  
  .posMain{
    margin-top: 50px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
  }
  
  main{
    width: 100%;
  }
  
  h1{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 38px;
  
  }
  
  .cardCarro{
    width: 700px;
    height: 160px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .imgMotorista{
    height: 100%;
    width: he;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .infoMotorista{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    padding-left: 30px;
  }
  
  .textoMotorista{
    margin-top: 9px;
    font-size: 18px;
    color: #000;
    }
  
  .nomeMotorista{
    font-family: 'Sen', sans-serif;
  font-weight: bold;
  font-size: 24px;
  }
  
  .infoMotorista p{
    margin-top: 10px;
    font-size: 18px;
    color: #757575;
    margin-bottom: 0;
  }
  
  .estadoMotorista{
    margin-left: 30px;
    height: 65%;
    width: 17%;
    border-radius: 3px;
    background-color: rgb(54, 180, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .estadoMotorista span{
    color: white;
    margin-top: 10px;
    font-weight: 400;
  }
  
  .estadoMotorista img{
  margin-top: 10px;
  }
  
  .sidebarMotorista{
    background-color: #0B0B5A;
    height: 100%;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
  }

  .containerMot{
      
  }
  