@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Sura&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
  padding: 0;
  text-decoration: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.containerInfoPeca {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerPecaDos {
  width: 50vw;
  height: 45vh;
  background-color: white;
  margin-left: 37vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 6px 9px 4px -1px rgb(0 0 0 / 25%);
  justify-content: space-around;
  margin-top: 50px;
}
.containerPecaUno {
  width: 50vw;
  height: 85vh;
  background-color: white;
  margin-left: 37vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 6px 9px 4px -1px rgb(0 0 0 / 25%);
  justify-content: space-around;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerPecaUno h1 {
  font-size: 27px;
  font-family: "Sen", sans-serif;
  font-weight: bold;
}
.containerPecaDos h1 {
  font-size: 27px;
  font-family: "Sen", sans-serif;
  font-weight: bold;
}

.containerPecaUno p {
  font-family: "Sen", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.containerPecaDos p {
  font-family: "Sen", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.containerPecaUno input {
  width: 300px;
  border: 0;
  border-bottom: 1px solid #9c9c9c;
  outline: 0;
  font-size: 16px;
  color: #424242;
  font-family: "Sen", sans-serif;
  background: transparent;
  transition: border-color 0.2s;
}
.containerPecaDos input {
  width: 300px;
  border: 0;
  border-bottom: 1px solid #9c9c9c;
  outline: 0;
  font-size: 16px;
  color: #424242;
  font-family: "Sen", sans-serif;
  background: transparent;
  transition: border-color 0.2s;
}

.boxInput {
  width: 60%;
  padding-top: 20px;
}

.containerBtn {
  width: 90%;
  display: flex;
  justify-content: center;
  height: 45px;
}


.containerBtn button{
  width: 40%;
  background: #060657;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;

}

.containerPeca2{
  width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}